{% extends "layout.html" %}
{% load web_extras %}

{% block content %}
    <div class="jumbotron">
        <form action="" method="post">
            {% csrf_token %}

            <p class="lead">请先登录</p>
            <p class="lead"><font color="#ff8c00">{{ emg }}</font></p>
            <div class="row">
                <table style="margin-left: 60px;">
                    <tbody>
                    <tr>
                        <td>{{ form.email.label_tag }}&nbsp </td><td>{{ form.email }}</td>
                        <td>&nbsp{{ form.password.label_tag }}&nbsp </td><td>{{ form.password }}</td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-lg btn-block btn-success"
                            name="{{ form.authorize.name }}"
                            value="1">登录
                    </button>
                </div>
                <div class="col-md-6">
                    <input type="reset" class="btn btn-lg btn-block btn-danger"
                            name="{{ form.authorize.name }}"
                            value="重置">
                    </input>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
